name: DevCard

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  devcard:
    runs-on: ubuntu-latest
    steps:
      - name: Update DevCard
        uses: dailydev/action-devcard@v2
        with:
          devcard_id: ${{ secrets.DEVCARD_ID }}
          commit_message: "chore: update daily.dev devcard"
