name: Update Daily.dev DevCard

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  devcard:
    runs-on: ubuntu-latest
    steps:
      - name: Update devcard
        uses: dailydev/devcard-action@v3
        with:
          devcard_id: ${{ secrets.DEVCARD_ID }}
