name: DevCard

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  devcard:
    runs-on: ubuntu-latest
    steps:
      - name: Update DevCard
        uses: dailydev/devcard@v2
        with:
          devcard_id: ${{ secrets.DEVCARD_ID }}
          commit_message: "chore: update daily.dev devcard"
